<div class="gv-head-wrapper">

  <div class="gv-head-container">
    <div class="gv-head-standfirst-container">
      <h1>Photos of NYC</h1>
       <p class="gv-standfirst">Natan Divir lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    </div>
     <div class="share-wrapper">
    <div class="share-container">

        <div class="share-inner">

            <div class="share-inner-left">

            </div>
             <div class="share-inner-main">
                  <p class="time-stamp">16 August 2017</p>
  <div class="gv-share-container">
                    <button class="interactive-share" data-network="facebook"></button>
                    <button class="interactive-share" data-network="twitter"></button>
                    <button class="interactive-share" data-network="email"></button>
                </div>
            </div>


    </div>
</div>
</div>
</div> 


<div class='gv-interactive-container'></div>
