<div class="gv-head-wrapper">

  <div class="gv-head-container">
    <div class="gv-head-standfirst-container">
      <h1>Going downtown, the New York subway reaches Delhi - in pictures</h1>
       <p class="gv-standfirst">Art lovers in India will this month have the chance to see panoramic views of New York Subway stations and their passengers. The series Platforms, by photographer <a href="http://natandvir.com/">Natan Dvir</a> is part of the <a href="http://www.indianphotofest.com/">Indian Photography Festival in Hyderabad</a></p>

    </div>
     <div class="share-wrapper">
    <div class="share-container">

        <div class="share-inner">

            <div class="share-inner-left">

            </div>
             <div class="share-inner-main">
                  <p class="time-stamp">20 September 2017</p>
  <div class="gv-share-container">
                    <button class="interactive-share" data-network="facebook"></button>
                    <button class="interactive-share" data-network="twitter"></button>
                    <button class="interactive-share" data-network="email"></button>
                </div>
            </div>


    </div>
</div>
</div>
</div>


<div class='gv-interactive-container'></div>
