<div class="gv-head-wrapper">

  <div class="gv-head-container">
    <div class="gv-head-standfirst-container">
      <h3>Photos of NYC</h3>
       <p class="gv-standfirst">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       <h5>Scroll to see more</h5>
    </div>  
  </div> 
</div> 



<div class="gv-wrap-all-slides">


    <div class="gv-slide-cap mobile show-mobile">
      <div class="gv-number-pt">00</div>
      <div class="gv-text-pt">
          <p>Some explainer text here …</p>
       </div> 
          
    </div>
   
    <div class="gv-slide-wrapper">
        <div class="gv-slide-container"> 
          <img data-src="<%= path %>/assets/platforms/1.jpg"  class="lazyload" />
        </div>
    </div>  
   <div class="gv-slide-cap show-desktop">
          <p>Some explainer text here …</p>
    </div>

      
   
    <div class="gv-slide-cap show-mobile">
      <div class="gv-number-pt">21</div>
      <div class="gv-text-pt">
          <p>Some explainer text here …</p>
       </div> 
          
    </div>   
    <div class="gv-slide-wrapper">
        <div class="gv-slide-container"> 
          <img data-src="<%= path %>/assets/platforms/2.jpg"  class="lazyload" />
        </div>
    </div> 
  <div class="gv-slide-cap show-desktop">
          <p>Some explainer text here …</p>
    </div>

    

  <div class="gv-slide-cap show-mobile">
      <div class="gv-number-pt">21</div>
      <div class="gv-text-pt">
          <p>Some explainer text here …</p>
    </div> 
          
    </div>  
    <div class="gv-slide-wrapper">
        <div class="gv-slide-container"> 
          <img data-src="<%= path %>/assets/platforms/3.jpg"  class="lazyload" />
        </div>
    </div>  
  <div class="gv-slide-cap show-desktop">
          <p>Some explainer text here …</p>
    </div>

    
<div class="gv-slide-cap show-mobile">
      <div class="gv-number-pt">8</div>
      <div class="gv-text-pt">
          <p>Some explainer text here …</p>
       </div> 
          
    </div>  
    <div class="gv-slide-wrapper">
        <div class="gv-slide-container"> 
          <img data-src="<%= path %>/assets/platforms/4.jpg"  class="lazyload" />
        </div>
    </div>   
    <div class="gv-slide-cap show-desktop">
          <p>Some explainer text here …</p>
    </div>

<!--   <div class="gv-intro-panel">
    <div class="gv-intro-panel-margins">
      <div class="gv-intro-panel-text">
       <h3>Photos of NYC</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       <h5>Scroll to see more</h5>
      </div>
    </div>
  </div> -->



</div>