$gs-baseline: 12px;

.gv-credits-container{ 
        width: calc(100% - 80px);
        padding:$gs-baseline 10px 0 10px;
        border-top:1px solid #f1f1f1;
        margin-left:42px;
        @include mq(tablet){
                padding:$gs-baseline 20px gs-height(1);
                margin-left:160px;
                max-width:560px;
        }

        ul{
            margin: 0 0 24px 0;
            padding: 10px;
            line-height: 18px;
            li{
                @include fs-textSans(3);
                margin:0; padding:0;
                list-style:none;
                margin-bottom:6px;
                display:block;
                color:#767676;
                strong{
                    color:#333;
                }
                a{
                    color:#767676;
                }

                @include mq(tablet){
                
                    display: inline;
                    
                }
            }

            @include mq(tablet){
             
                

            }
        }
        
    }