.gv-head-wrapper, .gv-cap-wrapper{
	width: 100%;


}

.gv-head-container, .gv-cap-container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding:10px;

	@include mq(desktop){
		padding:20px;
	}
}


.gv-cap-wrapper, .gv-cap-container{

}

.gv-cap-container{
	padding: 0 20px;
}


.gv-head-standfirst-container{
	padding: 0 10px 0;

	h3{
		@include fs-headline(6);	
		font-weight:300;
		@include mq(desktop){
			@include fs-headline(9);	
		}
	}

	p{
		@include fs-bodyCopy(2);
		@include mq(desktop){
			@include fs-bodyCopy(3);
		}
	}

	h5{
		@include fs-textSans(4);
	}

	h3,h5{
		color: $multimedia-main-2;
	}
}

.gv-standfirst{
	max-width: 620px;
}