.gv-head-wrapper, .gv-cap-wrapper{
	width: 100%;
}

.gv-head-container, .gv-cap-container{
	width: 100%;

	margin: 24px 0 12px;
	padding:0;

	@include mq(desktop){
		width: 100%;
		padding:20px;
		margin: 0 auto;
		max-width: 1300px;
	}

	h1{

		@include fs-headline(7);


	}


}



.gv-cap-container{
	margin: 0 0 12px;
	padding : 0;
	@include mq(desktop){
		margin: 12px auto 0;
		padding: 0 20px;
	}


}

.gv-head-standfirst-container{
	padding: 0 10px 0;
	max-width:620px;
	h3{
		@include fs-headline(6);
		font-weight:300;
		@include mq(desktop){
			@include fs-headline(9);
		}
	}

	p {
		@include fs-headline(2);
		font-size: 18px;
		line-height: 24px;
	}

	h5{
		@include fs-textSans(4);
	}

	h3,h5,p{
		color: $neutral-color;
	}

	@include mq(desktop){
		margin-left:160px;
	}

	@include mq(wide){
		margin-left:220px;
	}
}

.gv-standfirst{
	max-width: 620px;
}
