.gv-head-wrapper, .gv-cap-wrapper{
	width: 100%;
}

.gv-head-container, .gv-cap-container{
	width: 100%;

	margin: 24px 0 12px;
	padding:0;

	@include mq(desktop){
		width: 100%;
		padding:20px;
		margin: 0 auto;
		max-width: 1300px;
	}

	h1{

		font-size: 36px;
		line-height: 40px;
		font-weight: 100;
		@include mq(desktop){
			font-size: 50px;
			line-height: 56px;

		}

	}
}



.gv-cap-container{
	margin: 0 0 12px;
	padding : 0;
	@include mq(desktop){
		margin: 12px auto 0;
		padding: 0 20px;
	}


}

.gv-head-standfirst-container{
	padding: 0 10px 0;

	h3{
		@include fs-headline(6);
		font-weight:300;
		@include mq(desktop){
			@include fs-headline(9);
		}
	}

	p{
		@include fs-bodyCopy(2);
		@include mq(desktop){
			@include fs-bodyCopy(3);
		}
	}

	h5{
		@include fs-textSans(4);
	}

	h3,h5,p{
		color: $neutral-color;
	}

	@include mq(desktop){
		margin-left:160px;
	}

	@include mq(wide){
		margin-left:220px;
	}
}

.gv-standfirst{
	max-width: 620px;
}
