$neutral-color: #666;
$neutral-header: #222;

@import "mq";
@import "fonts";
@import "palette";
@import "share";
@import "slides";
@import "headerStyles";
@import "credits";

// Uncomment for embeds
//@import "embed";

//Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    min-height:500px;
    @include mq(tablet){
    	min-height:1200px;
    }

}

.l-footer{
	display:block !important;
}
